/* ----------------------  This CSS is Bad  ---------------------- */
/*                                                                 */
/*   I don't know what I'm doing, but CSS is bad anyway, so I do   */
/*   not care.                                                     */
/*                                                                 */
/* ----------------------  This CSS is Bad  ---------------------- */


html {
  font-family:"Georgia", "Times", sans-serif; color:#111;
}

li {
  margin-bottom: 1em;
}

/* fix link color to match headers */
a {
  color: #2B76E3;
}

p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.45;
  margin-bottom: 1.25em;
  text-rendering:optimizeLegibility
}

blockquote, blockquote p {
  line-height: 1.45;
  color:#636262
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #222;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height:1.2125em
}

h1 {
  margin-top:1em;
  font-size: 2.2rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem
}

h4 {
  font-size: 1.4rem
}

article .header {
  font-size: 1.0rem;
  font-style: italic;
  color: #555;
}

body {
  margin: 0 auto;
  padding: 0; background: #fffffd;
}

nav {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
}

nav a {
  color:#fff;
  margin: 0 0 0 1.2rem;
  font-size: 0.9rem;
  display: flex;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  font-family: sans-serif;
}

.logo a {
  float: left;
  font-size: 2.4rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

header {
  width:100%;
  background: #2B56E3; /* Header color */
}

header .container {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0; 
}

footer .container {
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0; 
}

footer {
  font-size:.8rem;
  color: #555;
}

body { word-wrap:break-word; color:#111; background:#fffffd}

ol li ul, ol li ol { 
  margin-bottom: 1.25em;
}

body {
  font-size: 1.3rem;
  color: #000;
}

main {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left:auto;
  margin-right:auto;
  width: 50rem;
  line-height: 1.45;
}

/* Syntax Highlighting */
pre {
  margin-left: 1em;
}
  
.katex {
    font: normal 1.21em KaTeX_Main, Times New Roman, serif;
    line-height: 1.2;
    text-indent: 0;
    text-rendering: auto;
    border-color:currentColor
}

code {
    font-weight: normal;
    color: #c01805;
}

/* ----------------------  Metrics for the phone  ---------------------- */

@media (max-width: 400px) {
  header .container {
    width:90%;
  }
  header {
    width:100%;
  }
  main {
    width:90%;
  }

  footer {
    font-size:.8rem;
    width:100%;
  }

  footer .container {
    width:90%;
  }

  body {
    font-size: 1rem;
  }
}

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 3em 0 .5em;
  height:0
}
